html, body {
  margin: 20px;
}

body { padding-top: 30px; }

.form-signin {
  max-width: 400px;
  margin: 0 auto;
}

.form-signin > .btn-block {
  margin-top: 25px;
}

.form-signin > .form-control {
  margin-bottom: 10px;
}

.controls {
  margin-top: 15px;
  margin-bottom: 35px;
}
