<div class="form-group">
  <label>Kind</label>
  {{view 'select' content=optionsForKind value=kind prompt="pick one..." class="form-control" }}
</div>

<div class="form-group">
  <label>Title</label>
  {{input value=title class="form-control"}}
</div>

<div class="form-group">
  <label>Body</label>
  {{textarea value=body class="form-control post-body"}}
</div>

<button type="submit" class="btn btn-default">Posts</button>
