<h3>Deleting post</h3>

<div class="well">
  Are you sure you want to delete the post "{{title}}"?

  <div class="controls">
    {{#link-to 'post' class="btn btn-primary"}}No{{/link-to}}
    <button {{action 'destroy'}} class="btn btn-danger">Yes</button>
  </div>
</div>
