Post visualization

<h3>{{kind}}: {{title}}</h3>
<div>
  {{body}}
</div>
<div class="controls">
  <ul>
    <li>
      {{#link-to 'post.edit'}}Edit{{/link-to}}
    </li>
    <li>
      {{#link-to 'post.delete'}}Delete{{/link-to}}
    </li>
  </ul>
</div>

{{outlet}}
