Post visualization

{{partial 'post/show'}}

{{#if isMine}}
  <div class="btn-group controls">
    {{#link-to 'post.edit' class="btn btn-primary"}}Edit{{/link-to}}
    {{#link-to 'post.delete' class="btn btn-danger"}}Delete{{/link-to}}
  </div>

  {{outlet}}
{{/if}}
