<h2 id='title'>Welcome to Ember.js</h2>

<ul>
  <li>
    {{#link-to 'stream'}}Stream{{/link-to}}
  </li>
  <li>
    {{#link-to 'posts'}}My Posts{{/link-to}}
  </li>
  <li>
    {{#link-to 'posts.new'}}New Post{{/link-to}}
  </li>
</ul>

{{outlet}}
