<h3>Sign in</h3>


<form {{action 'create' on='submit'}}>
  <label>Email</label>
  {{input value=email}}

  <label>Password</label>
  {{input value=password}}

  <button type="submit">Sign in</button>
</form>
