{{partial 'errors'}}

<div class="container">
  <form {{action 'create' on='submit'}} class="form-signin" role="form">

    <h2 class="form-signin-heading">Please sign in</h2>
    {{input value=email placeholder="Email address" class="form-control" }}

    {{input value=password type="password" class="form-control" placeholder="Password"}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
