<h3>Recent Events</h3>

<ul>
  {{#each}}
    <li>
      {{actorName}}: {{activity}} - {{postId}}
      {{#if linkable}}
        {{#link-to 'post' postId}}open{{/link-to}}
      {{/if}}
    </li>
  {{/each}}
</ul>

{{outlet}}
